%html
%head
  - tag 'meta', {:content => "width=device-width, initial-scale=1.0, shrink-to-fit=no", :name => "viewport"}, true
  %title CompanyName | Event Management System
  = csrf_meta_tags
  = csp_meta_tag
  
  = stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity: "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin: "anonymous"
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

%body
  %p.notice= notice
  %p.alert= alert
  = yield